body {
  padding: 0px;
  margin: 0px;
}
.site {
  background: #f9f9f9 !important;
  font-size: 14px;
}
.site ol.breadcrumb {
  background: none !important;
}
.site .admin_menu .left-menu div.search-menu input {
  border-radius: 0;
  font-size: 14px;
  height: 43px;
}
.site .admin_menu .left-menu .module_action_type {
  width: 100%;
  border-bottom: solid 1px #dddddd;
}
.site .admin_menu .left-menu .module_action_type .btn {
  border: none;
  border-radius: 0px;
  height: 35px;
  border-width: 0px 1px 0px 1px !important;
  border-style: solid;
  border-color: #dddddd;
}
.site .admin_menu .left-menu .panel {
  margin-bottom: 0px;
  border-radius: 0px;
  border-bottom: 0;
  border-top: 0;
}
.site .admin_menu .left-menu .panel .panel-heading {
  position: relative;
  border-top-width: 0;
}
.site .admin_menu .left-menu .panel .panel-heading .panel-collapse {
  width: 50px;
  line-height: 2.5em;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  color: #cccccc;
  text-align: center;
  background: #eeeeee;
  border-left: solid 1px #dddddd;
}
.site .admin_menu .left-menu .panel ul:last-child {
  border-bottom: solid 1px #dddddd;
}
.site .admin_menu .left-menu .panel ul li {
  cursor: pointer;
  padding: 0px;
}
.site .admin_menu .left-menu .panel ul li a {
  padding: 10px 15px;
  color: #333;
  display: block;
}
.site .admin_menu .left-menu .panel ul li a.append_url {
  color: #363646;
}
.site .admin_menu .left-menu .panel ul li.active a {
  color: #fff !important;
}
.site .admin_menu .left-menu .panel ul li.active a.append_url {
  color: #fff;
}
.site .master-footer {
  text-align: center;
  border-top: solid 1px #dddddd;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
  margin-bottom: 50px;
}
